{% extends 'myapp.html' %}
{% load crispy_forms_tags %}
{% block title %}Thanh toán{% endblock %}
{% block content %}
<br><h1 class="text-center ok">Thanh toán</h1><br>
<div class="container">
    <div class="row">

<div class="col-sm">
  <h3 class="text-center ok">Sản phẩm</h3>
<table class="table table-hover table-bordered col-16 mr-auto text-center">
    <thead class="thead-light">
      <tr class="">
        <th scope="col" class=" pad">Bìa sách</th>
        <th scope="col" class=" pad">Tác giả</th>
        <th scope="col" class=" pad">Tên sách</th>
        <th scope="col" class=" pad">Số lượng</th>
        <th scope="col" class=" pad">Tổng giá</th>
        <th scope="col" class=" pad"></th>
      </tr>
    </thead>
    <tbody class="border-black">
        {% for item in cart_item %}
        <tr title="Thể loại: {{item.books.category}}" class="pad">
          {% if item.avatar %}
          <td><img src="{{item.avatar.url}}" alt={{item.bookName}} width="50" height="50" class="rounded-circle" alt="avatar"/></td>
          {% else %}
          <td>Không có bìa</td>
          {% endif %}
            <td>{{item.authorName}}</td>
            <td>{{item.bookName}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.cart_item_total}} VNĐ</td>
            <td><a href="{% url 'deleteitem' item.id %}" class="btn btn-outline-danger" onclick="return confirm('Xác nhận xóa cuốn sách này?')">Xóa</a></td>
          </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Tổng: {{paid_amount}} VNĐ</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="col-sm">
  <h3 class="text-center ok">Thông tin khách hàng</h3>
    <form class="col-10 ml-auto" method="POST" name="address">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Xác nhận đặt hàng" class="btn btn-success"/>
    </form>
    </div>
</div>
</div>
{% endblock %}