{% extends 'myapp.html' %}
{% load crispy_forms_tags %}
{% block title %}Tài khoản{% endblock %}
{% block content %}
<table class="table col-10 mx-auto">
    <thead>
      <tr>
        <th scope="col">Tên tài khoản</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
  {% if not perms.myApp.change_books %}
  <h1 class="ok text-center">Đơn hàng đang giao tới bạn</h1><br><br>
  {% for i in order %}
  <div class="container">
    <div class="row">
      <div class="col-sm">
    <table class="table table-hover table-bordered col-14 mr-auto text-center">
      <thead class="thead-light">
        <tr class="">
          <th scope="col" class=" pad">Bìa sách</th>
          <th scope="col" class=" pad">Tên sách</th>
          <th scope="col" class=" pad">Số lượng</th>
          <th scope="col" class=" pad">Tổng giá</th>
          <th scope="col" class=" pad"></th>
        </tr>
      </thead>
      {% for item in i.cart_items.all %}
      <tbody class="border-black">
          <tr class="pad">
            {% if item.avatar %}
            <td><img src="{{item.avatar.url}}" alt={{item.bookName}} width="50" height="50" class="rounded-circle" alt="avatar"/></td>
            {% else %}
            <td>Không có bìa</td>
            {% endif %}
              <td>{{item.bookName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.cart_item_total}} VNĐ</td>
              <td><a href="{% url 'edit_book' item.book.id %}" class="btn btn-info">Chi tiết</a></td>
            </tr>
      </tbody>
      {% endfor %}
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Tổng: {{i.paid_amount}} VNĐ</td>
        </tr>
      </tfoot>
    </table>
    <a class="btn btn-success p-2" href="{% url 'danhanhang' i.id %}">Đã nhận hàng</a>
    <a href="{% url 'deleteorder' i.id %}" class="btn btn-danger p-2 w-10  " onclick="return confirm('Xác nhận hủy đơn hàng này?')">Hủy đặt hàng</a>
    <small class="p-2">Thời gian đặt: {{ i.created}}</small>
  </div>
  <div class="col-sm">
    <table class="table table-hover table-bordered col-10 ml-auto text-center">
      <thead class="thead-light">
        <tr class="">
          <th scope="col" class=" pad">Đơn</th>
          <th scope="col" class=" pad">Địa Chỉ</th>
          <th scope="col" class=" pad">Email</th>
          <th scope="col" class=" pad">Số Điện Thoại</th>
        </tr>
      </thead>
      <tbody class="border-black">
        <td>{{i.id}}</td>
        <td>{{i.address}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone_number}}</td>        
      </tbody>
    </table>
    
  </div>
  </div><br><br>
</div>
  {% endfor %}
  {% endif %}
{% endblock %}

    